//
// Language Switcher.
//

.comp-language-switcher {
  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: top;

    > li {
      display: inline-block;
      margin: 0;
      padding: 0;
      vertical-align: top;

      &.is-active {
        display: none;
      }

      a {
        display: inline-block;
        margin: rem(0 0 0 8px);
        color: $c-link;
        text-decoration: none;
        vertical-align: top;

        &:visited {
          color: $c-link;
        }

        &:hover,
        &:focus {
          color: $c-link-hover;
          text-decoration: underline;
        }
      }
    }
  }
}
