//
// Site Search.
//

.comp-site-search {

}

.comp-site-search__menu {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: top;
}

.comp-site-search__menu__menu-item {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.comp-site-search__menu__menu-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  font-size: rem(18px);
  color: $c-body;
  text-decoration: none;

  @include media-breakpoint-up(xl) {
    width: rem(44px);
    height: rem(44px);
  }

  &:visited {
    color: $c-body;
  }

  &:hover,
  &:focus {
    color: $c-neutral-70;
    text-decoration: none;
  }

  &::after {
    @extend %fa-icon;
    @extend .fas;
    content: fa-content($fa-var-search);
  }
}

// Search Form.
.comp-site-search-form {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  height: auto;
  background: $c-white;
  border-bottom: 5px solid $c-action-hover;

  // Active state.
  &.is-active {
    display: block;
  }
}

.comp-site-search-form__content {
  display: flex;
  flex-wrap: nowrap;
  padding: rem(20px 0 20px 20px);
  text-align: center;

  @include media-breakpoint-up(lg) {
    padding: rem(40px 0);
  }
}

.comp-site-search-form__content__form {
  margin: 0 0 0 auto;
  width: 100%;
  max-width: 558px;

  form {
    display: flex;
    flex-wrap: nowrap;
  }

  .form-item,
  .form-actions {
    margin: 0;
    padding: 0;
  }

  .form-item {
    margin: 0;
    padding: 0;
    width: 100%;

    input {
      display: block;
      margin: 0;
      padding: rem(6px 16px);
      width: 100%;
      max-width: 100%;
      height: rem(37px);
      color: $c-gray-input-text;
      background: $c-gray-input-light;
      border-radius: 5px 0 0 5px;
      border: 1px solid $c-action;
    }
  }

  .form-actions {
    width: rem(83px);

    input {
      display: none;
    }

    .form-submit--trigger {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
      width: 100%;
      height: rem(37px);
      text-align: center;
      background: $c-action;
      border: 0;
      border-radius: 0 5px 5px 0;

      &:hover,
      &:focus {
        background: $c-action-hover;
      }

      // Icon.
      &::before {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-search);
        font-size: rem(16px);
      }

      span {
        @extend .sr-only;
        display: block;
      }
    }
  }
}

.comp-site-search-form__close {
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(44px);
  height: rem(37px);
  font-size: rem(18px);
  color: $c-body;
  text-decoration: none;

  &:visited {
    color: $c-body;
  }

  &:hover,
  &:focus {
    color: $c-neutral-70;
    text-decoration: none;
  }

  &::before {
    @extend %fa-icon;
    @extend .fas;
    content: fa-content($fa-var-times);
  }
}
