{#
/**
 * @file
 * Layouts: Section Block.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'layout-section',
    'layout',
    'layout--section-block',
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {# Hide content region since we don't want additional components added. #}
    {#    {% if content.first %}#}
    {#      <div {{ region_attributes.first.addClass('layout__region', 'layout__region--content', 'layout__region--first') }}>#}
    {#        {{ content.first }}#}
    {#      </div>#}
    {#    {% endif %}#}
  </div>
{% endif %}
