<div id="highchart-example">
    <h2>Greenhouse gas emissions by year<h2>
    <figure class="highcharts-figure">
        <div id="greenhouse_gas_emissions"></div>
    </figure>
    <h2>Emission source breakdowns pie chart<h2>
    <figure class="highcharts-figure">
        <div id="emission_source_breakdowns"></div>
    </figure>
    <h2>Non GHGs emission by year<h2>
    <figure class="highcharts-figure">
        <div id="non_ghgs_emission"></div>
    </figure>
    <h2>Renewable Energy Visualizations</h2>
    <figure class="highcharts-figure">
        <div id="renewable_energy_visualization"></div>
    </figure>
    <h2>Emission per capita by year</h2>
    <figure class="highcharts-figure">
        <div id="emission_per_capita"></div>
    </figure>
    <h2>Emission density by year</h2>
    <figure class="highcharts-figure">
        <div id="emission_density"></div>
    </figure>
</div>