//
// Infinite Scroll.
//

.infinite-scroll-pager {
  clear: both;
  margin: rem(15px 0);
  padding: 0;
  text-align: center;
  list-style: none;

  .pager__item {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}
