//
// Buttons.
//

@use 'sass:math';

.comp-buttons {

}

.comp-buttons__items {
  display: flex;
  flex-wrap: wrap;
}

.comp-buttons--align--right .comp-buttons__items {
  justify-content: flex-end;

  .btn {
    margin-left: $btn-margin;
    margin-right: 0;
  }
}

.comp-buttons--align--center .comp-buttons__items {
  text-align: center;
  justify-content: center;

  .btn {
    margin-left: math.div($btn-margin, 2);
    margin-right: math.div($btn-margin, 2);
  }
}
