//
// Cards.
//

.comp-cards {
  clear: both;
}

.comp-cards__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: rem(0 -12px);
}

.comp-cards__item {
  margin: 0;
  padding: rem(0 12px 24px 12px);
  width: 100%;

  @include media-breakpoint-up(md) {
    width: 33.33%;
  }
}

//
// Card.
//

.comp-card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: rem(35px 30px 42px 30px);
  width: 100%;
  height: 100%;
  color: $c-body;
  text-decoration: none;
  text-align: center;
  background: $c-white;
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .27);
  transition: all .3s ease-in-out;

  @include media-breakpoint-up(md) {
    padding: rem(50px 30px 42px 30px);
  }

  &:visited {
    color: $c-body;
  }

  &:hover,
  &:focus {
    color: $c-body;
    text-decoration: none;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, .35);

    .comp-icon-card__text {
      color: $c-link-hover;
    }
  }
}

.comp-card__text {
  margin: 0 auto;
  padding: 0;
  max-width: rem(337px);
  font-size: $fs-global;
  font-weight: 500;
  line-height: 1.3;
  text-decoration: underline;
  @include smooth-transition();

  @include media-breakpoint-up(xl) {
    font-size: rem(22px);
  }
}

.comp-card__fa-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto rem(29px);
  width: rem(68px);
  height: rem(68px);
  font-size: rem(68px);
  z-index: 2;
}

.comp-card__icon-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto rem(29px);
  width: rem(68px);
  height: rem(68px);
  z-index: 2;

  svg {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    max-height: rem(84px);
  }
}

.comp-card__accent {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 40%;
  height: rem(10px);
}

//
// Style: Small.
//

.comp-cards--style--small {
  .comp-cards__items {
    justify-content: flex-start;
  }

  .comp-cards__item {
    margin: 0;
    padding: rem(0 12px 24px 12px);
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 50%;
    }
  }

  .comp-card {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0;
    padding: 0;
    min-height: rem(100px);
    text-align: left;

    .comp-card__accent {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      margin: 0;
      padding: 0;
      width: rem(10px);
      height: 100%;
    }

    .comp-card__fa-icon {
      margin: 0;
      padding: 0;
      width: rem(100px);
      min-width: rem(100px);
      height: rem(100px);
      color: $c-white !important;
      font-size: rem(45px);
    }

    .comp-card__icon-image {
      margin: 0;
      padding: 0;
      width: rem(100px);
      min-width: rem(100px);
      height: rem(100px);

      > div {
        width: rem(46px);
        height: rem(46px);
      }

      svg {
        color: $c-white !important;
        fill: $c-white !important;
        max-height: rem(46px);

        path {
          fill: $c-white !important;
        }
      }
    }

    .comp-card__text {
      align-self: center;
      margin: 0;
      padding: rem(12px 25px 12px 30px);
      max-width: none;
    }

    // Has icon.
    &.comp-card--has-icon {
      .comp-card__text {
        padding: rem(12px 25px);
      }

      .comp-card__accent {
        width: rem(100px);
      }
    }
  }
}
