//
// Site Content.
//

.site-content {
  margin: 0;
  padding: rem(28px 0);
}

.site-content--hide-header-elements {

}

.site-content--disable-top-margin {
  padding-top: 0;
}

.site-content__container {

}

.content__main-content {

}

// Sidebar.
.site-sidebar {
  margin-top: rem(10px);

  // Menus.
  .menu {
    margin: 0;
  }

  .menu__item {
    display: block;
  }

  .menu__link {
    display: block;
    padding: rem(10px) rem(20px);
    color: $c-link;
    font-size: rem(15px);
    font-weight: 500;

    &:hover,
    &:focus {
      color: $c-white;
    }
  }

  // Sidebar Blocks.
  .region > .block {
    margin: 0;
    padding: 0;
    border: 1px solid $gray-lighter;

    .block__title {
      margin: 0;
      padding: rem(10px) rem(10px) rem(10px) rem(20px);
      font-size: rem(19px);
      text-transform: none;
      background-color: $gray-lighter;
      border-bottom: 1px solid $gray-lighter;
    }

    .block__content {
      padding: rem(10px) rem(10px) rem(20px);
    }
  }
}

// Drupal/Ajax Throbber.
html {
  .ajax-throbber {
    display: inline-block;
    text-align: center;
    font-size: rem(16px);
    width: 38px;
    height: 38px;
    animation: ajax-rotate .8s infinite linear;
    border: 8px solid $c-btn;
    border-right-color: transparent;
    border-radius: 50%;

    div,
    span {
      display: none !important;
    }
  }

  // Fullscreen Throbber.
  .ajax-progress.ajax-progress-fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 1;
    @include background-opacity($c-white, .6);

    .ajax-throbber {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50px;
      height: 50px;
      transform: translate(-50%, -50%);
    }
  }
}

// Pagination.
.pager li > a:hover,
.pager li > a:focus {
  background-color: $gray-lighter;
}
.pager__item.is-active {
  a {
    color: $c-white;
    background: $c-link;
    border-color: $c-link-hover;

    &:hover,
    &:focus {
      background: $c-link-hover;
    }
  }
}

.pager {
  clear: both;

  .pager__items {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;

    .pager__item {
      display: inline-block;
      margin: 0;
      padding: 0;
      vertical-align: top;

      a {
        display: block;
        margin: 0;
        padding: rem(5px) rem(8px);
        color: $c-link;
        font-weight: 500;
        background: none;
        border: 0;

        &:hover,
        &:focus {
          color: $c-link-hover;
        }
      }

      &.is-active a {
        color: $c-link;
        font-weight: 500;
      }

      &.pager__item--first a,
      &.pager__item--last a {

      }
    }
  }

  li > a {
    display: block;
    margin: 0;
    padding: 0;
    color: $c-body;
    background: none;
  }
}

.pager--mini {
  .pager__items .pager__item {
    &.is-active {
      font-weight: normal;
    }

    a {
      padding: 0;
    }
  }
}

// Modals.
.modal {
  text-align: center;
}

@include media-breakpoint-up(md) {
  .modal::before {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

//
// Drupal / jQuery UI Overrides.
//

.ui-dialog {
  .ui-dialog-titlebar {
    padding: rem(8px) 1em;
    border: 0;
    border-radius: 0;
    font-weight: bold;
    color: $c-body;
    background: #f4f4f4;
    background: linear-gradient(to bottom, #f4f4f4 32%, #dbdbdb 100%);
  }

  .ui-dialog-title {
    font-family: $f-secondary;
    font-size: rem(20px);
    color: $c-primary;
  }

  .ui-dialog-titlebar-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    right: .5em;
    top: 50%;
    width: 20px;
    margin: -10px 0 0 0;
    padding: rem(1px);
    height: 20px;

    // Icon.
    &::before {
      @extend %fa-icon;
      @extend .fas;
      content: fa-content($fa-var-times);
    }
  }

  .ui-dialog-buttonpane {
    margin-top: 0;
    padding: .3em 1em;
    border: 0;
    background: #f4f4f4;
    background: linear-gradient(to bottom, #f4f4f4 32%, #dbdbdb 100%);
  }
}

.ui-widget.ui-widget-content {
  border: 0;
}

// Site Backdrop Overlay.
.ui-widget-overlay {
  background: $c-black;
  opacity: .8;
}
