//
// Site Content.
//

.site-content {
  position: relative;
  margin: 0;
  padding: rem(28px 0);
  z-index: 1;
}

.site-content--with-page-accent {
  padding-top: rem(4px);

  @include media-breakpoint-up(md) {
    padding: rem(28px 0);
  }
}

.site-content--disable-top-margin {
  padding-top: 0;
}

.site-content__main-body {

}

.site-content--with-left-sidebar .site-content__main-body {
  padding-left: 0;

  @include media-breakpoint-up(xl) {
    padding-left: rem(26px);
  }
}

.site-content--with-right-sidebar .site-content__main-body {
  padding-right: 0;

  @include media-breakpoint-up(xl) {
    padding-right: rem(26px);
  }
}

.site-content--with-both-sidebars .site-content__main-body {
  padding-left: 0;
  padding-right: 0;

  @include media-breakpoint-up(xl) {
    padding-left: rem(26px);
    padding-right: rem(26px);
  }
}

// Sidebar.
.site-sidebar {
  display: none;
  margin: 0;
  padding: 0;

  @include media-breakpoint-up(lg) {
    display: block;
  }

  // Menus.
  nav > .menu {
    border-top: 1px solid $gray-border;
  }

  .menu {
    margin: 0;
    padding: 0;
  }

  .menu__item {
    display: block;
    margin: 0;
    padding: 0;
  }

  .menu__link {
    position: relative;
    display: block;
    margin: 0;
    padding: rem(25px 0 25px 25px);
    font-size: $fs-global;
    color: $c-zinc;
    font-weight: 500;
    text-decoration: underline;
    border-bottom: 1px solid $gray-border;

    @include media-breakpoint-up(xl) {
      padding: rem(25px 20px 25px 40px);
      font-size: rem(22px);
    }

    &.is-active {
      color: $c-black;
      text-decoration: none;

      &:hover,
      &:focus {

      }
    }

    // Arrow icon.
    &::before {
      @extend %fa-icon;
      @extend .far;
      position: absolute;
      top: 50%;
      left: rem(6px);
      content: fa-content($fa-var-angle-right);
      margin-top: rem(1px);
      color: $c-zinc;
      font-size: rem(18px);
      transform: translateY(-50%);
      transition: all .2s ease-in-out;

      @include media-breakpoint-up(xl) {
        left: rem(19px);
      }
    }

    &:hover,
    &:focus {
      color: $c-link-hover;
      text-decoration: none;

      // Arrow icon.
      &::before {
        left: rem(6px + 3px);

        @include media-breakpoint-up(xl) {
          left: rem(19px + 3px);
        }
      }
    }
  }

  // 2nd Level.
  .menu .menu {
    .menu__link {
      padding-left: rem(25px + 10px);

      @include media-breakpoint-up(xl) {
        padding-left: rem(40px + 32px);
      }

      // Arrow icon.
      &::before {
        left: rem(6px + 8px);

        @include media-breakpoint-up(xl) {
          left: rem(19px + 32px);
        }
      }

      // Arrow icon.
      &:hover::before,
      &:focus::before {
        left: rem(6px + 8px + 3px);

        @include media-breakpoint-up(xl) {
          left: rem(19px + 32px + 3px);
        }
      }
    }
  }

  // 3rd Level.
  .menu .menu .menu {
    .menu__link {
      padding-left: rem(25px + 10px + 10px);
      font-size: $fs-global-min;

      @include media-breakpoint-up(xl) {
        padding-left: rem(40px + 32px + 10px);
        font-size: rem(20px);
      }

      // Arrow icon.
      &::before {
        left: rem(6px + 10px + 10px);

        @include media-breakpoint-up(xl) {
          left: rem(19px + 32px + 10px);
        }
      }

      // Arrow icon.
      &:hover::before,
      &:focus::before {
        left: rem(6px + 10px + 10px + 3px);

        @include media-breakpoint-up(xl) {
          left: rem(19px + 32px + 10px + 3px);
        }
      }
    }
  }

  // Blocks.
  .region > .block {
    margin: rem(0 0 20px);
    padding: 0;
  }
}

.site-sidebar__root-title {
  font-size: rem(20px);

  @include media-breakpoint-up(xl) {
    font-size: $fs-h4;
  }
}

.site-sidebar--left {
  padding: rem(0 6px 0 0);

  @include media-breakpoint-up(xl) {
    padding: rem(0 24px 0 0);
  }
}

.site-sidebar--right {
  padding: rem(0 0 0 6px);

  @include media-breakpoint-up(xl) {
    padding: rem(0 0 0 24px);
  }
}

// Drupal/Ajax Throbber.
html {
  .ajax-throbber {
    display: inline-block;
    text-align: center;
    font-size: rem(16px);
    width: 38px;
    height: 38px;
    animation: ajax-rotate .8s infinite linear;
    border: 8px solid $c-btn;
    border-right-color: transparent;
    border-radius: 50%;

    div,
    span {
      display: none !important;
    }
  }

  // Fullscreen Throbber.
  .ajax-progress.ajax-progress-fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 1;
    @include background-opacity($c-white, .6);

    .ajax-throbber {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50px;
      height: 50px;
      transform: translate(-50%, -50%);
    }
  }
}

// Pagination.

.pager:not(.infinite-scroll-pager) {
  clear: both;

  .pager__items {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;

    .pager__item {
      display: inline-block;
      margin: 0;
      padding: 0;
      vertical-align: top;

      a {
        display: block;
        margin: 0;
        padding: rem(5px) rem(8px);
        color: $c-link;
        font-weight: 500;
        background: none;
        border: 0;

        &:hover,
        &:focus {
          color: $c-link-hover;
        }
      }

      &.is-active a {
        color: $c-white;
        background: $c-link;
        border-color: $c-link-hover;

        &:hover,
        &:focus {
          background: $c-link-hover;
        }
      }

      &.pager__item--first a,
      &.pager__item--last a {

      }
    }
  }

  li > a {
    display: block;
    margin: 0;
    padding: 0;
    color: $c-body;
    background: none;

    &:hover,
    &:focus {
      background-color: $gray-lighter;
    }
  }

  // Mini Pager.
  &.pager--mini {
    .pager__items .pager__item {
      &.is-active {
        font-weight: normal;
      }

      a {
        padding: 0;
      }
    }
  }
}

// Modals.
.modal {
  text-align: center;
}

@include media-breakpoint-up(md) {
  .modal::before {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

//
// Drupal / jQuery UI Overrides.
//

.ui-dialog {
  .ui-dialog-titlebar {
    padding: rem(8px) 1em;
    border: 0;
    border-radius: 0;
    font-weight: bold;
    color: $c-body;
    background: #f4f4f4;
    background: linear-gradient(to bottom, #f4f4f4 32%, #dbdbdb 100%);
  }

  .ui-dialog-title {
    font-family: $f-secondary;
    font-size: rem(20px);
    color: $c-primary;
  }

  .ui-dialog-titlebar-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    right: .5em;
    top: 50%;
    width: 20px;
    margin: -10px 0 0 0;
    padding: rem(1px);
    height: 20px;

    // Icon.
    &::before {
      @extend %fa-icon;
      @extend .fas;
      content: fa-content($fa-var-times);
    }
  }

  .ui-dialog-buttonpane {
    margin-top: 0;
    padding: .3em 1em;
    border: 0;
    background: #f4f4f4;
    background: linear-gradient(to bottom, #f4f4f4 32%, #dbdbdb 100%);
  }
}

.ui-widget.ui-widget-content {
  border: 0;
}

// Site Backdrop Overlay.
.ui-widget-overlay {
  background: $c-black;
  opacity: .8;
}
