//
// CTA Strap.
//

.comp-cta-strap {
  position: relative;
  margin: rem(55px) auto;
  padding: 0;
  background: $c-neutral-60;
}

.comp-cta-strap__content {
  margin: 0 auto;
  padding: rem(54px 30px 54px 30px);
  max-width: rem(1440px);
  color: $c-white;

  @include media-breakpoint-up(md) {
    padding: rem(84px 30px 84px 125px);
  }
}

.comp-cta-strap__title {
  margin: rem(0 0 24px);
  color: $c-white;
  font-weight: 700;
}

.comp-cta-strap__body {
  font-size: rem(25px);

  p {
    margin: rem(0 0 30px);
  }
}
