//
// Page Banner.
//

.comp-page-banner {
  position: relative;
  clear: both;
  margin: rem(0 0 40px);

  @include media-breakpoint-up(md) {
    margin: rem(0 0 60px);
  }

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

.comp-page-banner__carousel {
  .slick-next,
  .slick-prev {
    top: 0;
    width: rem(75px);
    height: 100%;
    text-align: center;
    transform: none;
    z-index: 50;

    &:focus {
      top: 0;
    }
  }

  .slick-prev .slick-prev-icon,
  .slick-prev:focus .slick-prev-icon {
    margin: 0;
    font-size: rem(45px);
    line-height: 1;
    opacity: 1;
  }

  .slick-prev {
    left: 0;

    .slick-prev-icon {
      color: $c-white;

      // Icon.
      &::before {
        @extend %fa-icon;
        @extend .far;
        content: fa-content($fa-var-angle-left);
      }
    }

    &:focus .slick-prev-icon {
      color: $c-action-hover;
    }
  }

  .slick-next .slick-next-icon,
  .slick-next:focus .slick-next-icon {
    margin: 0;
    font-size: rem(45px);
    line-height: 1;
    opacity: 1;
  }

  .slick-next {
    right: 0;

    .slick-next-icon {
      color: $c-white;

      // Icon.
      &::before {
        @extend %fa-icon;
        @extend .far;
        content: fa-content($fa-var-angle-right);
      }
    }

    &:focus .slick-next-icon {
      color: $c-action-hover;
    }
  }

  .slick-dots {
    bottom: rem(-25px);
    z-index: 50;

    @include media-breakpoint-up(md) {
      bottom: rem(40px);
    }

    li {
      &.slick-active {
        button {
          background: $c-white;
          border: 1px solid $c-white;
        }
      }

      button {
        margin: 0;
        padding: 0;
        width: rem(16px);
        height: rem(16px);
        background: $c-black;
        border: 1px solid $c-white;
        border-radius: 50%;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, .8);

        @include media-breakpoint-up(md) {
          box-shadow: none;
        }

        .slick-dot-icon {
          display: none !important;

          &::before {
            display: none !important;
          }
        }

        &:hover,
        &:focus {
          background: $c-action-hover;
          border: 1px solid $c-white;
        }
      }
    }
  }
}

//
// Carousel Visibility.
//

.comp-page-banner__carousel {
  visibility: hidden;
  opacity: 0;

  &.slick-initialized {
    visibility: visible;
    opacity: 1;
  }
}

.comp-page-banner__carousel .comp-carousel__carousel__slide {
  display: none;
}

.comp-page-banner__carousel .comp-carousel__carousel__slide:first-of-type {
  display: block;
  visibility: hidden;
}

.comp-page-banner__carousel.slick-initialized .comp-carousel__carousel__slide {
  display: block;
  visibility: visible !important;
}
