//
// Section.
//

.comp-section {

}

//
// Display Options.
//

.comp-section--disable-gutters {
  .layout-section > .container {
    padding-left: 0;
    padding-right: 0;

    > .row {
      margin-left: 0;
      margin-right: 0;
    }

    > .row > * {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.comp-section--size--full-width {
  .layout-section > .container {
    width: 100%;
    max-width: 100%;
  }
}
