//
// Mobile Navigation.
//

// Site Header Mobile Menu Toggle.
.site-header__mobile-menu-toggle {
  display: block;
  margin: rem(0 0 0 20px);
  padding: 0;

  @include media-breakpoint-up(xl) {
    display: none;
  }
}

.site-header__mobile-menu-toggle__button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: rem(22px);
  line-height: 1;
  color: $c-body;

  &:visited {
    color: $c-body;
  }

  &:hover,
  &:focus {
    color: $c-neutral-70;
    text-decoration: none;
  }

  // Icon.
  &::before {
    @extend %fa-icon;
    @extend .far;
    content: fa-content($fa-var-bars);
  }
}

// Offcanvas Mobile Nav.
.offcanvas-mobile-nav {
  width: rem(430px) !important;

  .offcanvas-header {
    margin: 0;
    padding: rem(11px 34px);
    border-bottom: 4px solid $c-yg-yellow-dark;

    .offcanvas-title {
      display: none;
    }

    .btn-close {
      margin: 0 0 0 auto;
      padding: 0;
      font-size: rem(25px);
      background: none;
      border: 0;

      // Icon.
      &::before {
        @extend %fa-icon;
        @extend .far;
        content: fa-content($fa-var-times);
      }
    }
  }

  .offcanvas-body {
    margin: 0;
    padding: rem(20px 25px);
  }
}

// Mobile navigation.
.mobile-nav {
  margin: 0;
  padding: 0;

  .menu {
    clear: both;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .menu__item {
    position: relative;
    clear: both;
    float: none;
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $gray-lighter;
  }

  .menu__item-expand {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: rem(10px 0 4px 0);
    width: rem(35px);
    font-size: rem(18px);
    text-align: center;
    color: $c-body;
    background: none;
    border: 0;
    border: 0;
    z-index: 1;

    &:visited {
      color: $c-body;
    }

    &:hover,
    &:focus {
      color: $c-neutral-50;
    }

    // Arrow Icon.
    &::before {
      @extend %fa-icon;
      @extend .far;
      content: fa-content($fa-var-angle-down);
    }

    &.is-expanded::before {
      content: fa-content($fa-var-angle-up);
    }
  }

  .menu__link {
    position: relative;
    display: inline-block;
    margin: rem(0 50px 0 0);
    padding: rem(12px 0 10px 0);
    font-family: $f-body;
    font-size: rem(17px);
    text-transform: none;
    font-weight: 500;
    line-height: 1.3;
    color: $c-body;
    text-decoration: none;
    vertical-align: top;

    &:visited {
      color: $c-link-visited;
    }

    &:hover,
    &:focus {
      color: $c-body;
      text-decoration: underline;
    }

    &.is-active {
      color: $c-body;
      text-decoration: underline;
    }
  }

  .menu__item--expanded > .menu__link.menu__link--active-trail {
    color: $c-body;
    text-decoration: underline;
  }

  // Hide sub menus by default.
  .menu .menu {
    display: none;
  }

  // Show sub menus if parent is active.
  .menu > .menu__item--active-trail > .menu {
    display: block;
  }

  // Sub level menus.
  .menu .menu {
    clear: both;
    margin: 0;
    padding: rem(10px 20px 15px);
    background: $c-neutral-2;
    border-top: 2px solid $c-action-hover;

    .menu__link-wrapper__icon {
      display: none;
    }

    .menu__item {
      border-bottom-color: $gray-lighter-alt;

      &:last-child {
        border-bottom: 0;
      }
    }

    .menu__item-expand {
      display: none;
      padding-top: rem(2px);
      padding-bottom: rem(4px);
    }

    .menu__link {
      margin: 0;
      padding: rem(12px 0 10px);
      font-size: rem(16px);
      font-family: $f-primary;
      font-weight: normal;
      text-transform: none;
    }
  }

  // Level 3+ menus.
  .menu .menu .menu {
    display: block;
    margin: rem(0 0 10px);
    padding: 0;
    border: 0;

    .menu__item {
      border: 0;
    }

    .menu__link {
      position: relative;
      padding: rem(5px 0 5px 25px);
      color: $c-link;
      text-decoration: none;
      font-weight: normal;
      font-size: rem(16px);

      &:visited {
        color: $c-link-visited;
      }

      &:hover,
      &:focus {
        color: $c-link-hover;
        text-decoration: underline;
      }

      // Icon.
      &::before{
        @extend %fa-icon;
        @extend .far;
        position: absolute;
        top: rem(7px);
        left: rem(9px);
        content: fa-content($fa-var-angle-right);
        font-size: rem(16px);
      }
    }
  }

  nav:last-of-type > .menu > .menu__item:last-child {
    border-bottom: 0;
  }

  .block {
    margin: 0;
    padding: 0;
  }

  nav.block {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;

    &.menu--main {
      margin-top: 0;
    }
  }

  .block-block-content {
    margin: rem(20px);
  }
}

.mobile-nav__site-header-top-right-content {
  margin: 15px 0 0;
  padding: 20px;
  color: $c-white;
  @include font-size(14px);
  text-align: center;
  background: $c-link;

  a {
    color: $c-white;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $c-link-hover;
      text-decoration: none;
    }
  }

  p {
    margin: 0;
    padding: 0;
  }
}
