//
// Primary Navigation.
//

.primary-nav {
  clear: both;
  display: none;
  margin: 0;
  padding: 0;

  @include media-breakpoint-up(xl) {
    display: block;
  }

  nav > .menu {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: flex-end;

    > .menu__item {
      position: relative;
      display: block;
      margin: 0;
      padding: 0;
      font-size: $fs-global-min;

      @include media-breakpoint-up(xl) {
        margin: rem(0 5px 0 0);
        font-size: rem(17px);
      }

      @include media-breakpoint-up(xxl) {
        margin: 0 rem(28px) 0 auto;
        font-size: $fs-global;
      }

      > .menu__link {
        margin: 0;
        padding: rem(12px 10px);

        &.menu__link--active-trail {
          text-decoration: underline;
        }
      }
    }
  }
}
